<h1>Edit Box</h1>
<p><%= box._id%></p>
<form action="/users/<%= user._id%>/boxes/<%= box._id%>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="identNum">Box Number</label>
      <input type="number" class="form-control" id="identNum" value='<%=box.identNum %>'/>

      <label for="desc">Description</label>
      <input type="text" class="form-control" id="desc" name="desc" value='<%=box.desc %>'/>

      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" name="category" value='<%=box.category %>'/>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>