<div class="new-image">
  <div class="container default-size text-on-top">
    <br><br>
    <form class="col s12" action="/users/<%= user._id%>/boxes" method="POST">
        <div class="row">
          <div class="col s2">
            <label class="text-on-top font-size-large label" for="identNum">Box Number:</label>
            <input type="number" class="form-control text-on-top font-size-large" id="identNum" name="identNum" min='<%=maxBoxNum + 1%>' value='<%=maxBoxNum +1 %>' required/>
          </div>
          <div class="col s4">
            <!-- JQuery needed for drop downs to work in Materialize.  See layout file for more details -->
            <label class="text-on-top font-size-large label">Category</label>
            <select name="category" id="category">
              <option value="" disabled selected>Choose Category</option>
              <% for( let index = 0; index < categories.length; index++ ) { %>
                <option value="<%= categories[index].name%>"><%= categories[index].name%></option>
                <% } %>
              <!-- <label>Category</label> -->
            </select>  
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="text-on-top font-size-large label" for="desc">Contents</label>
            <input type="text" class="form-control" id="desc" name="desc" required/>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <input id = "moved" type = "checkbox" class = "filled-in" />
            <label class="text-on-top" for = "moved">Moved to new location?</label>
          </div>
          <div class="col s3">
            <input id = "unpacked" type = "checkbox" class = "filled-in" />
            <label class="text-on-top" for = "unpacked">Was this box unpacked?</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Submit</button>
      </form>
  </div>
</div>
