<div class="container">
  <div><a href="/users/<%=user._id%>/boxes">Return to Box Listing</a></div>
  <div class="row">
    <form class="col s12" action="/users/<%= user._id%>/boxes" method="POST">
      <div class="row">
        <div class="input-field col s2">
          <label class="active" for="identNum">Box Number</label>
          <input type="number" class="form-control" id="identNum" name="identNum" min='<%=maxBoxNum + 1%>' value='<%=maxBoxNum +1 %>'/>
        </div>
        <div class="input-field col s4">
          <!-- JQuery needed for drop downs to work in Materialize.  See layout file for more details -->
          <select name="category" id="category">
            <option value="" disabled selected>Choose Category</option>
            <% for( let index = 0; index < categories.length; index++ ) { %>
              <option value="<%= categories[index].name%>"><%= categories[index].name%></option>
              <% } %>
            <label>Category</label>
          </select>  
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="desc">Contents</label>
          <input type="text" class="form-control" id="desc" name="desc"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
