<div class="default-background">
  <div class="container">
    <div><a href="/users/<%=user._id%>/boxes">Return to Box Listing</a></div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card z-depth-3 brown lighten-4">
          <div class="card-image">
            <img src="/images/<%=category.imageFile%>">
          </div>
          <div class="card-content">
            <div class="card-content">
              <span class="card-title">Box <%=box.identNum%>: <%=box.category%></span>
              <p>Contents: <%=box.desc%></p>
            </div>
          </div>
          
          <div class="card-action">
            <form class="button-inline" action="/users/<%=user._id%>/boxes/<%=box._id%>/edit" method="GET">
            <button type="submit" class="btn btn-primary">Edit Box</button>
            </form>
            <form class="button-inline" action="/users/<%=user._id%>/boxes/<%=box._id%>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







 